<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/styles-login.css">
</head>
<body>
  <div class="container">
    <h2>Iniciar sesión</h2>

    <!-- EJS muestra el error si existe -->
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <form method="POST" action="/login">
      <label>Correo electrónico</label>
      <input type="email" name="email" placeholder="admin@example.com" required>

      <label>Contraseña</label>
      <input type="password" name="password" placeholder="••••" required>

      <button type="submit">Iniciar sesión</button>
    </form>
  </div>
</body>
</html>